<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content={{description}}>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    {% block css %}
    <!-- <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet"> -->
	<!-- CSS only -->
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
	{% endblock %}
	<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/apple-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/android-icon-192x192.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='images/manifest.json') }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/ms-icon-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
		<h1 class="display-4">Santa Banta Bulk Image Downloader</h1>
		<p class="lead">Download a bulk of images directly to Box Drive</p>

		<div class="container mt-4 p-2">
			<form action="/process" method="get" class="santabanta-boxdrive">
			  <div class="form-row">
				<div class="col-7">
				  <input type="text" name="img_url" id="inputUrl" class="form-control form-control-md" placeholder="Santa Banta Image Address" aria-describedby="urlHelp">
				</div>
				<div class="col-5">
					<small id="urlHelp" class="form-text text-muted">Provide the full image address by right-clicking and then selecting <pre>Copy image address</pre></small>
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-auto">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			  </div>
			</form>
		</div>
		<div class="row">
			{{ message }}
		</div>
	  </div>
	</div>
	<!-- JS, Popper.js, and jQuery -->
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.slim.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
</body>

</html>